$background-color: #d7ccc8;
$font-family: "Roboto", sans-serif;
@mixin gridCols($cols, $gapY, $gapX) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $gapY $gapX;
}
@mixin gridRows($cols, $gapY, $gapX) {
  display: grid;
  grid-template-rows: repeat($cols, 1fr);
  gap: $gapY $gapX;
}
@mixin btn($fontcolor: #fafafa) {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  background: #ff5722;
  color: $fontcolor;
  text-transform: uppercase;
}

@mixin message($fontcolor: #90a4ae) {
  color: $fontcolor;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@mixin input($bkgnd: #f5f5f5) {
  font-family: $font-family;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  font-size: 15px;
  box-sizing: border-box;
  background: $bkgnd;
}
